.main-sidebar {
  background-color: #111827 !important;
}
.nav-link.active {
  background-color: #00c0ef !important;
  color: #fff !important;
}
.nav-link:hover {
  background-color: #1f2937 !important;
}
